
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.search{
  margin-left: 250px;
}

.bumblebtn{
  width: 110px;
}

i{
  margin-left: 5px;
  margin-right: 5px;
  border: white;
}

.modal{
    display: block;

    margin: auto;
    /*left: 50px;*/
    width: 490px;
    height: 300px;
    background-color: white;
    text-align: center;
    padding: 50px;
    border-radius: 25px;
}

h1{
  font-size: 30px;
}


input{
  margin-bottom: 10px;
}

.signupbutton{
  margin: 10px;
}

iframe{
	width: 100%;
	height: 700px;
	z-index: -100;
}

#cat{
	margin-left: 10px;
}

.categories{
	margin-top: 10px;

}

.allcats{
	overflow: auto;
	width: 70%;
	margin-left: 15%;
	margin-top: 5%;

}

.inthead{
 text-align: center;
 margin-bottom: 3%;
}

.fa-2x{
	color:white;
	vertical-align: middle;
}

.unliked{
	color:green;
}

.trend{

	text-align: center;
	/*margin: 20px;*/
	/*border-radius: 25px;*/
}

h2{
	font-size: 20px;
}

.pic{
	float: left;
}

.title{
	float: left;
}

.statesubs{
	text-align: center;
}

bubble-cloud{
	height: 500px;
	width: 500px;
}

.cal-heatmap-container {
	display: block;
}

.graph
{
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}

.graph-label
{
	fill: #999;
	font-size: 10px
}

.graph, .graph-legend rect {
	shape-rendering: crispedges
}

.graph-rect
{
	fill: #ededed
}

.graph-subdomain-group rect:hover
{
	stroke: #000;
	stroke-width: 1px
}

.subdomain-text {
	font-size: 8px;
	fill: #999;
	pointer-events: none
}

.hover_cursor:hover {
	cursor: pointer
}

.qi {
	background-color: #999;
	fill: #999
}

/*
Remove comment to apply this style to date with value equal to 0
.q0
{
	background-color: #fff;
	fill: #fff;
	stroke: #ededed
}
*/

.q1
{
	background-color: #dae289;
	fill: #dae289
}

.q2
{
	background-color: #cedb9c;
	fill: #9cc069
}

.q3
{
	background-color: #b5cf6b;
	fill: #669d45
}

.q4
{
	background-color: #637939;
	fill: #637939
}

.q5
{
	background-color: #3b6427;
	fill: #3b6427
}

rect.highlight
{
	stroke:#444;
	stroke-width:1
}

text.highlight
{
	fill: #444
}

rect.now
{
	stroke: red
}

text.now
{
	fill: red;
	font-weight: 800
}

.domain-background {
	fill: none;
	shape-rendering: crispedges
}

.ch-tooltip {
	padding: 10px;
	background: #222;
	color: #bbb;
	font-size: 12px;
	line-height: 1.4;
	width: 140px;
	position: absolute;
	z-index: 99999;
	text-align: center;
	border-radius: 2px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
	display: none;
	box-sizing: border-box;
}

.ch-tooltip::after{
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	content: "";
	padding: 0;
	display: "block";
	bottom: -6px;
	left: 50%;
	margin-left: -6px;
    border-width: 6px 6px 0;
    border-top-color: #222;
}

.heat{
	margin-left: 200px;
}


/*.title{
	background-color: blue;
}*/
/*.liked{
	color:green;
}*/



/*button{
  margin: 10px;
}*/

/*.navbar-default {
  background-color:SlateGray;
  background-image: none;
  background-repeat: no-repeat;
 }*/
