
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
html{
	height: 100%;
	font-family: 'Philosopher', sans-serif;
}
body {
	line-height: 1;
	height: 100%;
	font-family: 'Philosopher', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.search{
  margin-left: 20%;
}

.bumblebtn{
  width: 110px;
}


i{
  margin-left: 5px;
  margin-right: 5px;
  border: white;
}

.modal{
    display: block;
		overflow: auto;
    margin: auto;
    /*left: 50px;*/
    width: 490px;
    height: 350px;
    background-color: white;
    text-align: center;
    padding: 50px;
    border-radius: 25px;
}

h1{
  font-size: 30px;
}


input{
  margin-bottom: 10px;
}

.signupbutton{
  margin: 10px;
}

iframe{
	width: 100%;
	height: 700px;
	z-index: -100;
}

#cat{
	margin-left: 10px;
}

.categories{
	margin-top: 10px;

}

.allcats{
	overflow: auto;
	width: 70%;
	margin-left: 15%;
	margin-top: 5%;

}

.inthead{
 text-align: center;
 margin-bottom: 3%;
}

.fa-2x{
	color:white;
	vertical-align: middle;
}

.unliked{
	color:green;
}



h2{
	font-size: 20px;
}



.statesubs{
	text-align: center;
}

bubble-cloud{
	height: 500px;
	width: 500px;
}

.cal-heatmap-container {
	display: block;
}

.graph
{
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}

.graph-label
{
	fill: #999;
	font-size: 10px
}

.graph, .graph-legend rect {
	shape-rendering: crispedges
}

.graph-rect
{
	fill: #ededed
}

.graph-subdomain-group rect:hover
{
	stroke: #000;
	stroke-width: 1px
}

.subdomain-text {
	font-size: 8px;
	fill: #999;
	pointer-events: none
}

.hover_cursor:hover {
	cursor: pointer
}

.qi {
	background-color: #999;
	fill: #999
}

/*
Remove comment to apply this style to date with value equal to 0
.q0
{
	background-color: #fff;
	fill: #fff;
	stroke: #ededed
}
*/

.q1
{
	background-color: #FFFF99;
	fill: #FFFF99
}

.q2
{
	background-color: #FFB266;
	fill: #FFB266
}

.q3
{
	background-color: #FF8000;

	fill: #FF8000
}

.q4
{
	background-color: #FF3333;
	fill: #FF3333
}

.q5
{
	background-color: #CC0000;
	fill: #CC0000
}

.q6
{
	background-color: #990000;
	fill: #990000
}

rect.highlight
{
	stroke:#444;
	stroke-width:1
}

text.highlight
{
	fill: #444
}

rect.now
{
	stroke: red
}

text.now
{
	fill: red;
	font-weight: 800
}

.domain-background {
	fill: none;
	shape-rendering: crispedges
}

.ch-tooltip {
	padding: 10px;
	background: #222;
	color: #bbb;
	font-size: 12px;
	line-height: 1.4;
	width: 140px;
	position: absolute;
	z-index: 99999;
	text-align: center;
	border-radius: 2px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
	display: none;
	box-sizing: border-box;
}

.ch-tooltip::after{
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	content: "";
	padding: 0;
	display: "block";
	bottom: -6px;
	left: 50%;
	margin-left: -6px;
    border-width: 6px 6px 0;
    border-top-color: #222;
}

.heat{
	margin-top: 3%;
	margin: 0 auto;
}

.chart {
 width: 500px;
 height: 500px;
}

.bar{
	float: left;
}

.pie{
	float: left;
}



.charts{
	margin-left: 3%;
}


.popular{
	float: left;
}

tr{
	height: 200px !important;
}



td{
	max-height: 200px;
}

.population{
	margin-left: 100px;
}

.wrapping{
color: black;
display: inline-block;
background-color: rgba(248, 251, 255, .5);
margin-top: 10%;
margin-left: 30%;
width:500px;
height:300px;
text-align: center;

}

/*.splash{
	background-size: 100%;
	background-image: url('https://images.unsplash.com/photo-1444253324313-0dce942d572c?dpr=2&fit=crop&fm=jpg&h=725&q=50&w=1300')
}*/

.btn.btn-success{
background-color: #5E2D79;
background-image: linear-gradient(to bottom,#5E2D79  0,#5E2D79 100%);
border: 2px #5E2D79;
}

.btn.btn-primary{
background-color: #5E2D79;
background-image: linear-gradient(to bottom,#5E2D79  0,#5E2D79 100%);
border: 2px #5E2D79;
}

.view{
	height: 90%;
	width:100%;
}

.navbar{
	-webkit-filter: drop-shadow(5px 5px 10px black) !important;
}

.navbar, .view{
	margin: 0 !important;
	border-radius: 0 !important;
}

body{
	margin: 0px !important;
}

html{
	margin: 0px !important;
}

.modal.ng-enter {
  transition: opacity .5s ease-out;
  opacity: 0;
}
.modal.ng-enter.ng-enter-active {
  opacity: 1;
}
.modal.ng-leave {
  transition: opacity .5s ease-out;
  opacity: 1;
}
.modal.ng-leave.ng-leave-active {
  opacity: 0;
}

.categoryLabel{
	font-size: 18px;
	overflow: auto;
}

.categoryLabel:hover {
    background-color: #685883;
		color: white;
}

.mapinfo{
	margin: 0 auto;
	width: 40%;
	margin-top: 5%;
}

 bubble-cloud{
	 margin-left: 10%;
 }

 .category{
	 margin: 0 auto;
	 width: 40%;
	 margin-top: 5%;
 }

 .bubble{
	 margin-top: 2%;
 }

 .bar{
	 border: 1px solid black;
	 margin: 5px;
 }

 .pie{
	 border: 1px solid black;
	 margin: 5px;
	 padding-top: 10px;
	 padding-left: 10px;
 }

 .trendtable{
	 height: 200px;
 }

.time{
	margin-top: 3%;
}

.map{
margin-left: 30%;

}

.bar{
	margin-left: 6%;
	padding-top: 10px;
	padding-left: 10px;
}

.line{
	margin-left: 22%;
	padding: 10px;

}


.pattern{
	background-image: url('light_grey.png');
}


/*.title{
	background-color: blue;
}*/
/*.liked{
	color:green;
}*/



/*button{
  margin: 10px;
}*/

/*.navbar-default {
  background-color:SlateGray;
  background-image: none;
  background-repeat: no-repeat;
 }*/
