
div.allcats
 div.inthead
  h1 Choose your interests!
 div.col-md-4.categories(ng-repeat="category in allcats")
  input(type="checkbox" value='category' ng-click="interestInsert(category)" ng-checked="checkArrayFor(category)") 
  label(id="cat") {{pcCategory[category]}}
 
