div.charts
  div.time
    div.map
      h1 Traffic Map by Hour
      p Your time spent browsing articles by hour over the past five days
      cal-heatmap(config="{domain:'day', subDomain:'hour', range:-5, cellSize:21, data:usertrafficobj}")
      //cal-heatmap(config="{domain:'day', subDomain:'hour', range: 1, cellSize:21, data:usertrafficobj}")
  div.bar
    h1 Preference by Category
    .chart( ac-chart="'bar'" ac-data="data" ac-config="config" id='chart' class='chart')
  div.pie
    h1 Your Total Preferences
    .chart( ac-chart="'pie'" ac-data="datapie" ac-config="pieconfig" id='chart' class='chart')
  div.bar.line
    h1 Your Average Amount of Time Spent per Category
    .chart( ac-chart="'line'" ac-data="dataline" ac-config="lineconfig" id='chart' class='chart')
  
