div.heat
  h1 Category
  select#category(ng-model='heatcategory' ng-change='created(heatcategory)')
    option(ng-repeat='cat in allcats', value='{{cat}}') {{cat}}
div
  cal-heatmap(ng-if='trafficobj' config="{domain:'month', range:-8, cellSize:21 , data:trafficobj}")
