div.first.col-md-3.all
 div.row.stumbling
  h3 Explore personalized viral content on the web.
 div.row.screenshot
  img(src='../../images/stumble.png')
div.mid.col-md-3.all
 div.row.stumbling
  h3 Track your activity historically.
 div.row.screenshot
  img(src='../../images/dash.png')
div.mid.col-md-3.all
 div.row.stumbling.heatabout
  h3 Discover the most popular time to be online.
 div.row.screenshot
  img.heatscreen(src='../../images/mapheat.png')
div.last.col-md-3.all
 div.row.stumbling
  h3 See what makes your state unique.
 div.row.screenshot
  img(src='../../images/map3.png')
