div.mapinfo 
  h1 User Information By State
  p Hover over each state to see how its subscriber amount per capita ranks up against other states and to see the most common word used in posts about that state.
datamap(map='mapzoomObject' on-click="updateActiveGeography" zoomable="true")
