div(ng-controller='MainController')
 div(class="modal")
      h1 Sign-in
       p
       div(class="form-group")       
        input(type='email', placeholder='email' class="form-control" class="signupform" ng-model="checking.email")        
        input(type='password', placeholder='password' class="form-control" class="signupform" ng-model="checking.password")   
        button.btn.btn-primary.signupbutton(type='button', ng-click='checkuser(checking)' data-dismiss="modal") Sign-in     
        button.btn.btn-warning(type='button', ng-click="close('cancel')" data-dismiss="modal") Cancel
