div(ng-controller='MainController')
 div(class="modal")
      h1 Create an Account  
       p
       div.signup(class="form-group")
        input(type='text', placeholder='firstname' ng-model="credentials.name" class="form-control" class="signupform") 
        p        
        input(type='email', placeholder='email' class="form-control" ng-model="credentials.email" class="signupform")
        p         
        input(type='password', placeholder='password' class="form-control" ng-model="credentials.password" class="signupform")
        p         
        button.btn.btn-primary.signupbutton(type='button', ng-click='ok(credentials)' data-dismiss="modal") Create Account      
        button.btn.btn-warning(type='button', ng-click="close('cancel')" class="signupbutton" data-dismiss="modal") Cancel
